
.size18 svg{
    width: 18px;
    height: 18px;
    display: block;
    margin-right: .8em;
}
.size16 svg{
    width: 16px;
    height: 16px;
    display: block;
    margin-right: .8em;
}
.size14 svg{
    width: 14px;
    height: 14px;
    display: block;
    margin-right: .8em;
}
.size12 svg{
    width: 12px;
    height: 12px;
    display: block;
    margin-right: .8em;
}